# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Upgrad\C3_Project_HARSHKUMAR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
